@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// MEDIA QUERY MANAGER

/*
0 - 600px :     Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape

1200- 1800px:   Normal Style

1800px +:       Big Desktop
*/

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}

/* 
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { // 600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { // 900px
      @content;
    }
  }

  @if $breakpoint == tab-land { // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop { // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
